.edible-details {

}

.edible-image {
  float: left;
  width: 260px;
}

.edible-show-image {

}

.edible-show-button {
  display: block;
  color: white;
  background-color: #409D69;
  border-radius: 3px;
  border-style: solid;
  font-family: helvetica;
  line-height: 18px;
  font-size: 13px;
  width: 130px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 5px;
}

.edible-show-button:hover {
  background-color: #008000;
  cursor: pointer;
}

.edible-info {
  float: left;
  margin-left: 20px;
  width: 475px;
}

.edible-name {
  font-size: 24px;
  font-weight: bold;
}

.edible-name {

}

.edibe-category {

}

.edible-description {

}
