.edible-show {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.edible-details {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.edible-image {
  margin-top: 5px;
  float: left;
  width: 260px;
}

.edible-show-image {

}

.edible-show-buttons {
  color: white;
  font-family: helvetica;
  line-height: 18px;
  font-size: 13px;
  width: 126px;
  margin: auto;
  float: left;
}

.edible-show-button-checked {
  background-color: #white;
  color: black;
  display: block;
  border-radius-top-left: 3px;
  border-radius-bottom-left: 3px;
  border-right: 1px solid #003300;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

.edible-show-button-unselected {
  background-color: #409D69;
  display: block;
  border-radius-top-left: 3px;
  border-radius-bottom-left: 3px;
  border-right: 1px solid #003300;
  width: 100px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

.edible-show-button:hover {
  background-color: #008000;
  cursor: pointer;
}

.edible-show-button-select-list {
  background-color: #409D69;
  font-size: 8px;
  width: 25px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 5px;
  border-radius-top-right: 3px;
  border-radius-bottom-right: 3px;
  float: left;
  position: relative;
}

.edible-show-button-select-list:hover {
  background-color: #008000;
  cursor: pointer;
}

.edible-select-list {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.edible-show-button-select-list:hover .edible-select-list {
  display: block;
}

.edible-select-list > li {
  border-top: 1px solid #ccc;
  color: #000;
}

.edible-select-list > li:hover {
  background: #eee;
}

.edible-show-info {
  float: left;
  margin-left: 20px;
  width: 475px;
}

.edible-show-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edible-show-category {
  font-weight: bold;
}

.edible-show-description {
  margin-top: 15px;
}

.reviews-heading {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.edible-reviews {
  height: auto;
  width: 625px;
}

.review {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.review-name-date {
  margin-bottom: 20px;
}

.review-name {
  float: left;
  font-weight: bold;
}

.review-date {
  float: right;
}

.review-title {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.review-description {
  padding-bottom: 10px;
}
