// Place all the styles related to the Api::Edibles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edibles-index {
  width: 965px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.edibles-index-items {
  padding-top: 5px;
  width: 100%;
}

.edible-list-item {
  float: left;
  width: 160px;
  padding-right: 15px;
  margin-top: 50px;
  font-size: 15px;
  text-shadow: 1px 1px #ccc;
}

.edible-list-item a {
  text-decoration: none;
  font-weight: bold;
  text-transform: lowercase;;
}

.edible-list-item p {
  margin-bottom: 5px;
}

.edible-list-item-image {
  width: 160px;
  height: 160px;
}

.edible-list-item-image:hover {
  width: 160px;
  height: 160px;
  background-color: white;
  opacity: 0.5;
}








.edible-list-item-button {
  display: block;
  color: white;
  background-color: #409D69;
  border-radius: 3px;
  border-style: solid;
  font-family: helvetica;
  line-height: 18px;
  font-size: 13px;
  width: 150px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 5px;
  text-align: center;
}

.edible-list-item-button:hover {
  background-color: #008000;
  cursor: pointer;
}

.edible-list-item-dropdown {
  background-color: #409D69;
  font-size: 8px;
  width: 25px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin: auto;
  margin-top: 5px;
  border-radius-top-right: 3px;
  border-radius-bottom-right: 3px;
  float: left;
  position: relative;
}

.edible-list-item-dropdown:hover {
  background-color: #008000;
  cursor: pointer;
}

.edible-dropdown-lists {
  display: none;
  color: black;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.edible-dropdown-lists li:hover {
  background-color: #ccc;
}

div.edible-list-item-dropdown:hover .edible-dropdown-lists {
  display: block;
}






.edible-show-buttons {
  color: white;
  font-family: helvetica;
  line-height: 18px;
  font-size: 13px;
  width: 126px;
  margin: auto;
  float: left;
}

.edible-show-button:hover {
  background-color: #008000;
  cursor: pointer;
}


.edible-show-button-select-list:hover {
  background-color: #008000;
  cursor: pointer;
}

.edible-select-list {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.edible-show-button-select-list:hover .edible-select-list {
  display: block;
}

.edible-select-list > li {
  border-top: 1px solid #ccc;
  color: #000;
}

.edible-select-list > li:hover {
  background: #eee;
}
