// Place all the styles related to the Api::ListItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lists-index {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EBE8D5;
}

.heading-main {
  display: block;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EBE8D5;
  padding-top: 15px;
  font-family: georgia;
  color: #00635d;
}

.heading-main:hover {

}

.heading-sub-main {
  font-color: red;
  font-size: 18px;
  padding-bottom: 6px;
  padding-top: 15px;
  color: #aaa;
}

.lists-content {
  width: 710px;
  height: 300px;
}

.lists-index-nav {
  float: left;
  width: 200px;
  height: 100%;
  color: #00635d;
  font-size: 14px;
}

.lists-index-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.lists-index-item:hover {
  cursor: pointer;
}

td.list-index-item-title:hover {
  text-decoration: underline;
}

.add-list-input-text {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 120px;
  margin-right: 10px;
  background-color: #EBE8D5;
}

.add-list-button {
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  background-color: #F4F1EA;
  padding: 3px;
  border-radius: 3px;
}

.add-list-button:hover {
  cursor: pointer;
}

.delete-list-button {
  height: auto;
}

.delete-list-button:hover {
  cursor: pointer;
}

.list-items-table {
  display: block;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  border-left: 1px solid #EBE8D5;
  float: right;
  width: 753px;
  height: 900px;
}

.item-detail-image {
  width: 100px;
  height: 100px;
}

.heading-add-list {

}

.add-list-form {

}

.item-detail-table {
  width: 100%;
}

.item-detail-table-head {
  font-size: 14px;
  text-align: left;
  vertical-align: top;
  color: black;
  padding-bottom: 5px;
  border-top: 2px solid #EBE8D5;
}

.item-detail-table-body {
  padding-top: 5px;
    border-bottom: 2px solid black;
}

.item-detail-table-row {
  color: #00635d;
}

.item-detail-table-row a {
  text-decoration: none;
}

.item-detail-table-headers-row {

}

.item-detail-table-row td {
  padding: 5px;
  font-size: 14px;
}

.item-heading-image {
  width: 110px;
  padding-left: 5px;
}

.item-heading-name {
  width: 130px;
}

.item-heading-category {
  width: 130px;
}

.item-heading-rating {
  width: 55px;
}

.item-heading-date-added {
  width: 100px;
}

.item-heading-date-eaten {
  width: 120px;
}

.item-heading-options {
  width: 75px;
}

td.list-table-name a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.date-eaten-input {
  border: 1px solid #ccc;
}

.list-table-buttons {

}

button.list-table-button-delete:hover {
  cursor: pointer;
  text-decoration: underline;
}

div.list-table-button-review:hover {
  cursor: pointer;
  text-decoration: underline;
}

div.list-table-button-reviewed {
  color: #463020;
}
