.profile-container {
  width: 630px;
  height: auto;
  margin: auto;
  display: block;
  float: left;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.profile-header {

}

.profile-picture {
  width: 148px;
  height: 148px;
  float: left;
  margin-top: 6px;
  margin-bottom: 20px;
}

.profile-details {
  width: 460px;
  float: right;
}

.profile-details-table {

}

.profile-detail {
  font-weight: bold;
}

.profile-lists {

}

.profile-lists h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
