// Place all the styles related to the Api::Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-container {
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  right: 1px;
  bottom: 1px;
  overflow: hidden;
}

.review-modal {
  display: block;
  background-color: #EEE8AA;
  font-size: 13px;
  line-height: 18px;
  left: 383px;
  top: 0;
  width: 850px;
  height: 535px;
  border-radius: 5px;
  border-bottom: 2px solid #aaa;
  margin: auto;
  overflow: auto;
  border-top: 1px solid black;
  padding: 10px 25px 15px 25px;
}

.review-form-image {
  float: left;
}

.review-form-image img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.review-form {
  background-color: #EEE8AA;
  width: 700px;
  height: 500px;
  margin: auto;
  float: right;
}

.review-form-details {
  margin-top: 20px;
  margin-right: 60px;
  float: right;
}

.review-modal mark {
  position: absolute;
  background-color: #EEE8AA;
  top: 15px;
  right: 275px;
  font-size: 26px;
}

.review-modal mark:hover {
  cursor: pointer;
}

.review-form-edible {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
}

.review-form-edible-category {
  margin-bottom: 25px;
}

.review-form-input-text {
  padding: 5px;
  background-color: white;
  display: block;
  width: 635px;
  height: auto;
  border-radius: 3px;
  border: 1px solid #aaa;
}

.review-form-input-textarea {
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  margin-top: 10px;
  display: block;
  width: 635px;
  height: 295px;
  border: 1px solid #aaa;
}

.review-modal button {
  background-color: #F4F1EA;
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-radius: 3px;
}
