<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>

  <header class="auth-header">
    <nav class="auth-header-nav group">

      <h1 class="auth-header-logo">
        <a href="#">goodeats</a>
      </h1>

      <ul class="auth-header-list group">
        <li>
          <h5 class="auth-header-five">Already a member?</h5>
        </li>
        <li>
          <a href="../sessions/new.html.erb">
            <%= button_to "Sign in", new_session_url, method: :get %>
          </a>
        </li>

      </ul>

    </nav>
  </header>

  <body class="auth-body">
    <section class="auth-form">
      <form action="<%= users_url %>" method="POST">
        <p class="auth-form-description">
          Sign up to see what your friends are eating, get food recommendations,
      and join the world’s most devoted community of eaters.
        </p>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <fieldset class="auth-form-fieldset">
          <label>Name
            <input type="text" name="user[name]" placeholder="Name" value="">
          </label>

          <label>Email
            <input type="text" name="user[email]" placeholder="Email" value="">
          </label>

          <label>Password
            <input type="password" name="user[password]" placeholder="Password" value="">
          </label>

          <button class="auth-form-button">Sign up</button>
        </fieldset>

        <p class="auth-form-agreement">
          By clicking “Sign up” I agree to the Goodeats Terms of Service and confirm that I am at least 13 years old.
        </p>
      </form>
    </section>

    <footer class="auth-footer">
      <p class="auth-footer-copy">© 2016 Goodeats Inc</p>
      <img class="auth-footer-banner"
           src="http://www.calabriamillbury.com/images/italian.jpg"/>
    </footer>

  </body>
</html>
