html, body, header, textarea, nav, a, h1, h2, h3, h4, h5, span, a, ul, li, p, button, main, section, form, img, input, fieldset, footer {
  margin: 0;
  padding: 0;
  border: 0;

  text-align: inherit;
  color: inherit;
  font: inherit;

  background: transparent;
}

body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}


#root {
  background-color: white;
  font-family: helvetica;
}

.wrapper {
  height: 100%;
  padding-bottom: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main {
  width: 965px;
  margin: auto;
  padding-top: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 1000px;
  height: 100%;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.root-header {
  background-color: #F4F1EA;
  border-bottom: 1px solid #ccc;
  color: #463020;
}

.root-header-banner {
  width: 100%;
}

.root-header-nav {
  width: 965px;
  margin: auto;
}
.root-header-nav input {
  float: left;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline;
  padding: 1px;
  font-size: 11px;
  width: 187px;
  height: 24px;
  margin-top: 9px;
  background-color: white;
}

.root-header-logo {
  font-size: 32px;
  text-decoration: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;

  letter-spacing: -1.75px;
  margin-right: 10px;
}

.root-header-logo a {
  text-decoration: none;
}

ul.root-header-list li:hover {
    text-decoration: underline;
}

.root-header-logo div {
  display: block;
  float: left;
}

.root-header-logo-good {
  font-weight: 100;
}

.root-header-logo-eats {
  font-weight: 300;
}

.root-header-cookie {
  width: 20px;
  height: 24px;
}

.root-header-list {
  float: left;
}

.root-header-list li {
  float: left;
  margin-top: 12px;
  margin-right: 13px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.root-header-list li a {
  font-size: 13px;
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
}

.root-header-list h5 {
  font-size: 12px;
  margin-right: 10px;
  margin-top: 20px;
}

.root-header-icons {
  float: right;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.root-header-icons li {
  float: left;
  margin-left: 10px;
  margin-top: 12px;
}

.root-header-icons a {
  text-decoration: none;
}

.root-header-icons-user {

}

.root-header-button {
  border: 1px solid #8B4513;
  padding: 7px 16px 7px 16px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #FFF8DC;
  margin-right: 20px;
  margin-top: 15px;
}

button.sign-out-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.root-form {
  margin: auto;
  margin-bottom: 50px;
  background-color: white;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 4px;
  width: 580px;
  padding: 30px;
}

.root-form-description {
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;

}

.root-form-fieldset {
  margin: auto;
}

.root-form label {
  font-size: 14px;
}

.root-form input {
  border: 1px solid #ccc;
  display: block;
  width: 340px;
  padding: 10px 5px 10px 5px;
  margin-bottom: 7px;
}

.root-footer {
  width: 100%;
  height: 30px;
  background-color: #F4F1EA;
  bottom: 0;
  display: block;
}

.root-footer-nav {
  width: 965px;
  margin: auto;
}

.root-footer-copy {
  float: left;
  font-size: 12px;
  margin-bottom: 15px;
}
