.auth-body {
  background-color: #F4F1EA;
}

#root {
  background-color: white;
  font-family: helvetica;
}

.main {
  width: 965px;
  margin: auto;
  height: auto;
  padding-top: 10px;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.root-header {
  background-color: #F4F1EA;
  border-bottom: 1px solid #ccc;
}

.root-header-nav {
  width: 965px;
  margin: auto;
}
.root-header-nav input {
  float: left;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline;
  padding: 1px;
  font-size: 11px;
  width: 187px;
  height: 24px;
  margin-top: 9px;
  background-color: white;
}

.root-header-logo {
  font-size: 32px;
  text-decoration: none;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  font-weight: 100;
}

.root-header-logo > a > span {
  font-weight: 200;
}

.root-header-logo a {
  text-decoration: none;
}

.root-header-list {
  float: left;
}

.root-header-list li {
  float: left;
  margin-top: 12px;
  margin-right: 13px;
}

.root-header-list li a {
  font-size: 13px;
  font-family: helvetica;
  font-weight: bold;
  text-decoration: none;
}

.root-header-list h5 {
  font-size: 12px;
  margin-right: 10px;
  margin-top: 20px;
}

.root-header-icons {
  float: right;
}

.root-header-icons li {
  float: left;
  margin-left: 10px;
  margin-top: 12px;
}

.root-header-icons-user {
  font-size: 25px;
}

.root-header-button {
  border: 1px solid #8B4513;
  padding: 7px 16px 7px 16px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #FFF8DC;
  margin-right: 20px;
  margin-top: 15px;
}

.root-form {
  margin: auto;
  margin-bottom: 50px;
  background-color: white;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 4px;
  width: 580px;
  padding: 30px;
}

.root-form-description {
  font-size: 18px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;

}

.root-form-fieldset {
  margin: auto;
}

.root-form label {
  font-size: 14px;
}

.root-form input {
  border: 1px solid #ccc;
  display: block;
  width: 340px;
  padding: 10px 5px 10px 5px;
  margin-bottom: 7px;
}

.root-footer {
  width: 100%;
  height: 30px;
  background-color: #F4F1EA;
}

.root-footer-nav {
  width: 965px;
  margin: auto;
}

.root-footer-copy {
  float: left;
  font-size: 12px;
  margin-bottom: 15px;
}
